body {
  min-height: 100dvh;
  font-size: 100%;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
