@use "../abtract/variables" as color_bg;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: color_bg.$white;
}
