// ------ Color Primary ------
$yellow: hsl(47, 88%, 63%);
// ------ Primary Neutral ------
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);
// ------ Font-Size ------
$lg: 1.45em;
$rg: 1.03em;
$sm: 0.87em;
// ------ Box-Shadow ------
$radius: 1rem;
